@charset "utf-8";

/* ****************************************************
Title: layout.css
Created: 2013‒05-17
Last Modified: 2013‒05-17
Editor(s): HK
***************************************************** */

/* -------------------------------------------------------------------- 
/* body
-------------------------------------------------------------------- */

body {
 color: #333333;
 font-family:	"游ゴシック", YuGothic,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ","Meiryo","ＭＳ Ｐゴシック",Verdana,Osaka,"MS PGothic",sans-serif;
 font-size: 13px;
 *font-size:small;
 *font:x-small;
 text-align: center;
	text-size-adjust: 100%;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	max-height: 999999px;
}
img {
	vertical-align: bottom;
}

.relative-wrap {
	position: relative;
}

p, span, dt, dd, th, td, li, h3 {
	max-height: 999999px;
	background-image: url(../img/spacer.gif);
}


/* -------------------------------------------------------------------- 
/* header
-------------------------------------------------------------------- */
header {
	border-top: 3px solid #e52a29;
}

.dheader {
	width: 960px;
	height: 80px;
	margin: 0 auto;
}
.header_left {
	float: left;
	margin: 8px 0;
} 
.header_right {
	position: relative;
}
.header_right ul {
	display: flex;
	margin-left: 390px;
}
.header_right ul li {
	border-left: 1px solid #b2b2b2;
	height: 55px;
	margin: 25px 0 0 0;
}
.header_right ul li a {
	font-size: 14px;
	color: #000;
	text-decoration: none;
	display: inline-block;
	width: 120px;
	margin: 15px 0 0 0;
}
.header_right ul li a:hover{
	color: #c46766;
}
.header_btn {
	display: inline-block;
	position: absolute;
	right: 0;
	bottom: 0;
	background-color: #e52a29;
	padding: 15px 55px 18px 45px;
}
.header_btn:hover {
	background-color: #fc4d4b;
}



/* -------------------------------------------------------------------- 
/* main
-------------------------------------------------------------------- */
.mvWrap {
	height: 1065px;
}
.mv_topWrap {
	background-image: url("../img/mv_bg.jpg");
	background-repeat: repeat-x;
	background-position: top center;
	height: 830px;
}
.mv {
	background-image: url("../img/mv.jpg");
	background-repeat: no-repeat;
	background-position: top center;
	height: 830px;
}
.mv h1 ,.mv p {
	display: none;
}
.cont01_form {
	background-image: url("../img/cont_btn_on.png");
	background-repeat: no-repeat;
	background-position: center;
	margin: 0 auto;
	width: 960px;
}
.cont01_form a {
	display: inline-block;
}
.cont01_form a:hover {
	background-color: transparent; /* IE6対応 */
}
.cont01_form a:hover img {
    visibility: hidden;
}
.mv_text {
	width: 960px;
	margin: 13px auto 55px auto;
	font-size: 10px;
	text-align: right;
}                        /*           mvWrap           */


.cont01Wrap {
	height: 1614px;
}
.cont01_topWrap {
	background-image: url("../img/cont01_top_bg.png");
	background-repeat: repeat-x;
	background-position: top center;
	height: 760px;
}
.cont01_top {
	background-image: url("../img/cont01_top.png");
	background-repeat: no-repeat;
	background-position: top center;
	height: 760px;
}
.cont01_none {
	display: none;
}
.cont01_topText {
	width: 960px;
	margin: 0 auto;
	position: relative;
}
.cont01_text01 ,.cont01_text02 ,.cont01_text03 {
	font-size: 20px;
	line-height: 1.5em;
	position: absolute;
	text-align: left;
}
.cont01_text01 {
	top: 205px;
	left: 110px;
}
.cont01_text02 {
	top: 325px;
	left: 260px;
}
.cont01_text03 {
	top: 445px;
	left: 110px;
}

.cont01_bottomWrap {
	background-image: url("../img/cont01_bottom_bg.jpg");
	background-repeat: repeat-x;
	background-position: top center;
	height: 590px;
	margin-bottom: 80px;
}
.cont01_bottom {
	background-image: url("../img/cont01_bottom.jpg");
	background-repeat: no-repeat;
	background-position: top center;
	height: 590px;
}
.cont01_bottomText {
	width: 960px;
	height: 590px;
	margin: 0 auto;
	position: relative;
}
.cont01_text04 {
	font-size: 16px;
	line-height: 1.5em;
	text-align: left;
	position: absolute;
	bottom:30px;
	right: 65px;
}                                      /*           cont01Wrap           */

#cont02Wrap {
	margin: 0px 0 0 0;
}
.cont02_none {
	display: none;
}
.cont02_topWrap {
	background-image: url("../img/cont02_top_bg.jpg");
	background-repeat: repeat-x;
	background-position: top center;
	height: 732px;
}
.cont02_top {
	background-image: url("../img/cont02_top.jpg");
	background-repeat: no-repeat;
	background-position: top center;
	height: 732px;
	width: 960px;
	margin: 0 auto;
	text-align: left;
}
.cont02_topText {
	font-size: 16px;
	line-height: 1.5em;
	color: #fff;
	width: 440px;
	padding-top: 495px;
}
.cont02_bottomWrap {
	background-image: url("../img/cont02_bottom.jpg");
	background-repeat: no-repeat;
	background-position: top center;
	height: 903px;
	margin-bottom: 35px;
}
.cont02_bottom {
	width: 960px;
	margin: 0 auto;
	text-align: left;
}
.cont02_bottomText {
	font-size: 16px;
	line-height: 1.5em;
	color: #000;
	width: 440px;
	float: right;
	padding-top: 350px
}                                      /*           cont02Wrap           */


#cont03Wrap {
	margin-top: 100px;
	height: 1440px;
}
.cont03HeadWrap {
	background-image: url("../img/cont03_head_bg.png");
	background-repeat: repeat-x;
	background-position: top center;
	height: 172px;
}
.cont03Head {
	background-image: url("../img/cont03_head.png");
	background-repeat: no-repeat;
	background-position: top center;
	height: 172px;
}
.cont03_none {
	display: none;
}
.cont03Topic {
	background-image: url("../img/cont03_topic.jpg");
	background-repeat: no-repeat;
	background-position: top center;
	height: 1267px;
	width: 960px;
	margin: 0 auto;
	text-align: left;
	font-size: 16px;
	line-height: 1.5em;
	color: #000;
	position: relative;
}
.cont03Topic dt {
	display: none;
}
.cont03Text01 {
	width: 512px;
	position: absolute;
	top: 135px;
	right:0px;
}
.cont03Text02 {
	width: 300px;
	position: absolute;
	top: 445px;
	left:0px;
}
.cont03Text03 {
	width: 300px;
	position: absolute;
	top: 445px;
	right:140px;
}
.cont03Text04 {
	width: 295px;
	position: absolute;
	bottom: 481px;
	left:0px; 
}
.cont03Text05 {
	width: 295px;
	position: absolute;
	bottom: 481px;
	right:145px;
}
.cont03Text06 {
	width: 290px;
	position: absolute;
	bottom: 116px;
	left:0px;
}
.cont03Text07 {
	width: 300px;
	position: absolute;
	bottom: 140px;
	right:140px;
}                                      /*           cont03Wrap           */

.cont04HeadWrap {
	background-image: url("../img/cont03_head_bg.png");
	background-repeat: repeat-x;
	background-position: top center;
	height: 172px;
}
.cont04Head {
	background-image: url("../img/cont04_head.png");
	background-repeat: no-repeat;
	background-position: top center;
	height: 172px;
}
.cont04_none {
	display: none;
}
.cont04TopicWrap {
	background-image: url("../img/cont04_topic.jpg");
	background-repeat: no-repeat;
	background-position: top center;
	height: 1902px;
}
.cont04Topic {
	width: 960px;
	height: 1902px;
	margin: 0 auto;
	position: relative;
}
.cont04Text01 {
	font-size: 16px;
	line-height: 1.5em;
	text-align: left; 
	width: 770px;
	margin: 35px auto 0 auto;
}
.cont04Topic dl dd {
	font-size: 16px;
	line-height: 1.5em;
	text-align: left;
	
}
.cont04Tr_none {
	display: none;
}
.cont04Topic_dd01 {
	width: 832px;
	position: absolute;
	bottom: 439px;
	left: 60px;
}
.cont04Topic_dd02 {
	width: 555px;
	position: absolute;
	bottom: 148px;
	left:60px;
}                                      /*           cont04Wrap           */

.mv_textNone {
	display: none;
}
.mvWrap02 {
	height: 1210px;
}
.mv_topWrap02 {
	background-image: url("../img/mv_bg.jpg");
	background-repeat: repeat-x;
	background-position: top center;
	height: 830px;
}
.mv02 {
	background-image: url("../img/mv.jpg");
	background-repeat: no-repeat;
	background-position: top center;
	height: 830px;
}
.cont01_form {
	display: block;
	margin: 0 auto;
	width: 960px;
}
.mv02_text {
	width: 960px;
	margin: 13px auto 125px auto;
	font-size: 10px;
	text-align: right;
}                                      /*           mvWrap02           */






/* -------------------------------------------------------------------- 
/* footer
-------------------------------------------------------------------- */
footer {
	height: 75px;
}
.footerTop {
	height: 40px;
	width: 960px;
	margin: 0 auto;
	position: relative;
}
.footerTop ul {
	display: flex;
	width: 240px;
	margin: 0 auto;
}
.footerTop ul li {
	font-size: 12px;
	height: 40px;
	padding: 0 15px;
	
}
.footerTop ul li a{
	text-decoration: none;
	color: #000;
	display: inline-block;
	margin-top: 10px;
}
.footerTop ul li a:hover {
	color: #dc2a29;
}
.footerTop_li01 {
	border-left: 1px solid #b2b2b2;
}
.footerTop_li02 {
	border-left: 1px solid #b2b2b2;
	border-right: 1px solid #b2b2b2;
}
.footerBottom {
	height: 32px;
	border-top: 3px solid #e52a29;
}
.copyright {
	width: 960px;
	margin: 18px auto 0 auto;
}


.page_topBtn {
	width: 40px;
	height: 50px;
	background-color: #e52a29;
	display: inline-block;
	padding: 9px 20px 10px 20px;
	position: fixed;
	right: 0;
	bottom: 40px;
}
.page_topBtn:hover {
	background-color: #fc4d4b;
}





/*---*/
